.navbar{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading{
    font-size: 40px;
}
.mainbody{
    height: 1000px;
    width: 100%;
    background-color: green;
    display: flex;


}
.para{
     
}