*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("../Images/final.jpg");
    background-size: cover;
    
    
    height: 50px;
    width: 100%;
    
}
.border{
   border:2px solid transparent;
}
.border:hover{
   border:1.5px solid white
}
.addrfirst{
   color: #cccccc;
   font-size: 0.8rem;
   margin-left: 15px;
}
.addrsec{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
.addicon{
    display: flex;
    align-items: center;
}
.navsearch{
    display: flex;
    justify-content: space-evenly;
    width: 625px;
    height: 35px;
    border-radius: 4px;
}
.searchsel{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border:none;
}
.searchinp{
    width:100%;
    font-size: 1rem;
}
